bin/
obj/
publish*/
installer-output*/
release-*/
MaintenanceSmokeTest/bin/
MaintenanceSmokeTest/obj/
*.log
*.com-backup-*
.vs/
*.user
*.suo

MaintenanceSmokeTest/
install-test/
installer-v15*.iss
installer.iss
